# SPDX-FileCopyrightText: Magenta ApS <https://magenta.dk>
# SPDX-License-Identifier: MPL-2.0

*.DS_Store
.dockerignore
.editorconfig
.git
.github
.gitignore
.readthedocs.yml
Dockerfile
Dockerfile.test
Jenkinsfile
db.env
docker-compose.yml
docs
setup
venv
.venv
frontend/node_modules
frontend/dist
.mypy_cache
