# SPDX-FileCopyrightText: 2019-2020 Magenta ApS
# SPDX-License-Identifier: MPL-2.0

*.DS_Store
.dockerignore
.editorconfig
.git
.github
.gitignore
.readthedocs.yml
Dockerfile
Dockerfile.test
Jenkinsfile
db.env
docker-compose.yml
docs
setup
*/venv
