# SPDX-FileCopyrightText: 2019-2020 Magenta ApS
# SPDX-License-Identifier: MPL-2.0
**/__pycache__/**
.spyproject/**
.hypothesis/**
/.coverage
/.coveragerc
/docker-compose.override.yml
**.rum-bak
.cache/**
**/.cache/**
venv
.idea
local_example_nj.py
tests/old_dataloaders_code.py
/get_engagement_overview.py
/render_None.py
/get_organizations.py
