**/__pycache__/**
.spyproject/**
.hypothesis/**
/.coverage
/.coveragerc
/docker-compose.override.yml
**.rum-bak
.cache/**
venv
.idea
local_example_nj.py
tests/old_dataloaders_code.py
/get_engagement_overview.py
/render_None.py
