# SPDX-FileCopyrightText: Magenta ApS <https://magenta.dk>
# SPDX-License-Identifier: MPL-2.0
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        args: [ --config-file=pyproject.toml ]
        language: system

  - repo: https://github.com/fsfe/reuse-tool
    rev: v4.0.3
    hooks:
      - id: reuse

  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ push ]

  - repo: https://github.com/fpgmaas/deptry.git
    rev: 0.20.0
    hooks:
      - id: deptry

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: node
        additional_dependencies:
          - prettier
        entry: prettier
        args: ["--write", "--log-level=warn"]
        types_or:
          - graphql
          - yaml
