{
    "printWidth": 80,
    "tabWidth": 2,
    "trailingComma": "none",
    "singleQuote": true,
    "semi": false,
    "htmlWhitespaceSensitivity": "css",
    "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ]
}