[tool.poetry]
name = "ramodels"
version = "2.1.1"
description = "Pydantic data models for OS2mo"
authors = ["Magenta <info@magenta.dk>"]
license = "MPL-2.0"
readme = "README.md"
homepage = "https://magenta.dk/"
repository = "https://git.magenta.dk/rammearkitektur/os2mo-data-models"
keywords = ["os2mo", "data models"]

[tool.poetry.dependencies]
python = "^3.8"
pydantic = "^1.8.2"
"backports.zoneinfo" = { version = "^0.2.1", python = "<3.9" }

[tool.poetry.dev-dependencies]
pytest = "^6.2.3"
black = "^21.4b2"
flake8 = "^3.9.1"
mypy = "^0.812"
reorder-python-imports = "^2.5.0"
pre-commit = "^2.13.0"
hypothesis = { extras = ["zoneinfo"], version = "^6.13.0" }
pytest-dotenv = "^0.5.2"
pytest-cov = "^2.12.0"
pytest-xdist = "^2.2.1"
mkdocs-material = "^7.1.7"
mkdocstrings = "^0.15.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
