argon2-cffi~=16.3.0
Flask~=0.12.2
requests~=2.18.2
lxml~=4.0.0
Sphinx~=1.6.3
sphinx_rtd_theme>=0.2.4
sphinxcontrib-httpdomain>=1.6.0
recommonmark>=0.4.0
grequests~=0.3.0
pyexcel>=0.5.7
pyexcel-io>=0.5.7
pyexcel-xlsx>=0.5.5
pyexcel-ods>=0.5.2
gevent~=1.2.2
python-dateutil>=2.7.0
flask-SAML~=0.4.3
-e git+https://github.com/magenta-aps/service_person_stamdata_udvidet@master#egg=service_person_stamdata_udvidet
