# SPDX-FileCopyrightText: 2022 Magenta ApS
# SPDX-License-Identifier: MPL-2.0

[run]
data_file = /tmp/.coverage.sqlite
branch = true
omit =
    backend/tests/*

[report]
skip_covered = false

[html]
directory = /tmp/.cov-report
