# -*- conf -*-
[run]
branch = True
omit =
     venv*
     tests/*
     mora/cli.py
     mora/importing/aak_engagements.py
     mora/importing/preimport.py

[report]
exclude_lines =
     raise NotImplementedError
     if flask.current_app.debug:
     if settings.PROD_MODE:
     \bpass\b
