# -*- conf -*-
[run]
branch = True
source =
     mora/
omit =
     mora/cli/*
     mora/importing/*

[report]
exclude_lines =
     raise NotImplementedError
     if flask.current_app.debug:
     \bpass\b
