# SPDX-FileCopyrightText: 2017-2020 Magenta ApS
# SPDX-License-Identifier: MPL-2.0

alembic
requests
lxml
python-dateutil
validators
psycopg2-binary
gunicorn
service_person_stamdata_udvidet @ git+git://github.com/magenta-aps/service_person_stamdata_udvidet@0.2.0
lora_utils @ git+git://github.com/magenta-aps/lora-utils.git@master#egg=lora_utils
pika
pyjwt[crypto]
toml
more_itertools
sqlalchemy
sqlalchemy-utils
aiohttp
os2mo-http-trigger-protocol
anytree
fastapi
jinja2
aiofiles
starlette-context
werkzeug
click
os2mo-fastapi-utils
structlog
python-multipart
prometheus-fastapi-instrumentator
