# SPDX-FileCopyrightText: 2017-2020 Magenta ApS
# SPDX-License-Identifier: MPL-2.0

-c requirements.txt

freezegun
requests-mock
coverage
termcolor
unittest-xml-reporting
notsouid
python-dotenv
watchdog
pytest
pytest-cov
aiohttp
aioresponses
os2mo-http-trigger-protocol
parameterized
