<div id="loginForm"> 
   <div class="modal-header"> 
    <button id="elLoginModalClose" type="button" class="close" ng-click="cancel()">&times;</button> 
    <h3>{{i18n.header_nav_login_label}}</h3> 
   </div> 
   <div class="modal-body"> 
    <div class="apollo"> 
     <div class="apollo-container clearfix"> 
      <div class="apollo-login" id="elLoginContainer"> 
       <div class="alert alert-danger" ng-show="loginFailed" id="elMsgLoginFail">
        {{i18n.login_invalid_label}}
       </div> 
       <form class="form-signin" id="elLoginForm" ng-submit="moLoginProcess()"> 
        <div class="control-group"> 
         <input type="text" value="" class="input-block-level form-control" id="elLoginUser" placeholder="{{i18n.login_username_label}}" ng-model="username" required="" auto-fill-sync="" /> 
        </div> 


        <div class="control-group"> 
         <input type="password" value="" class="input-block-level form-control" id="elLoginPass" placeholder="{{i18n.login_password_label}}" ng-model="password" required="" auto-fill-sync="" /> 
        </div> 
        <div class="control-group pdbt25">
        <input type="checkbox" id="elLoginRememberMe"  ng-model="rememberme" /><span class="rem">{{i18n.remember_me_label}}</span>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="elLoginSubmit">{{i18n.login_submit_label}}</button> 
       </form> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div>