<div class="row"> 
   <div class="col-md-7"> 
    <div id="org-tree-structure" class="panel panel-info"> 
     <div class="panel-heading">
      Organization tree selector
     </div> 
     <div class="panel-body">
       |
      <br /> |
      <br /> |---- |
      <br /> |
      <br /> |----|--- |
      <br /> |
      <br /> |
      <br /> |----|---|-- 
     </div> 
    </div> 
   </div> 
   <div class="col-md-5"> 
    <div id="toolbar" class="panel panel-info"> 
     <div class="panel-heading">
      Toolbar
     </div> 
     <div class="panel-body"> 
      <ul class="nav nav-pills"> 
       <li class="active"><a href="#">Home</a></li> 
       <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Dropdown <span class="caret"></span> </a> 
        <ul class="dropdown-menu"> 
         <li><a href="#">Action</a></li> 
         <li><a href="#">Another action</a></li> 
         <li><a href="#">Something else here</a></li> 
         <li class="divider"></li> 
         <li><a href="#">Separated link</a></li> 
        </ul> </li> 
       <li><a href="#">Messages</a></li> 
      </ul> 
     </div> 
    </div> 
    <div id="main" class="panel panel-info"> 
     <div class="panel-heading">
      Detail area
     </div> 
     <div class="panel-body">
      Content
     </div> 
    </div> 
   </div> 
  </div>