.center-container { 
  display: block; 
  position: fixed;
}

.center-row {
  display: block;
}
  
.center-row > div {
  display: block;
}
.left-section > div, .left-section > div > .panel, .main-content .main .panel{
	display: block;
}
.main-content .main, .notification{display: block;}
