<div ng-contoller="moHome"> 
  <div class="row action center mrgnltrt0"> 
    <div class="col-md-12"> 
      <button class="btn btn-default btn-lg btn-m" ng-click="logIn('emp', 'open')" id="employeeLogin"><i class="common emp"></i>{{i18n.header_nav_emp_label}}</button> 
    </div> 
  </div> 
  <div class="row action center mrgnltrt0"> 
    <div class="col-md-12"> 
      <button class="btn btn-default btn-lg btn-o" ng-click="logIn('org', 'open')"id="organisationLogin"><i class="common org"></i>{{i18n.header_nav_org_label}}</button> 
    </div> 
  </div> 
</div>