<div id="elEmp{{role.key}}" class="engagementWrapper" ng-show="role.visible || flag.empEdit"> 
    <div class="row"> 
      <div class="col-md-12 col-sm-12 sec-heading" ng-click="role.toggle = !role.toggle" id="{{role.key}}AccordianHeading"> 
        <p><i class="common" ng-class="(!role.toggle)?'arrow-up-white':'arrow-down-white'"></i>{{i18n[sysService.state.data.page.key+"_tblMainHeader_"+role.key]}}</p>
      </div> 
    </div> 
    <div class="row" ng-show="flag.empEdit"> 
      <div class="col-md-12"> 
        <div class="alert alert-danger empCreateErrorMsgTbl" ng-show="role.errorCreate" id="elMsgEmpEditErrorCreate{{role.key}}">
          <ul ng-repeat="messages in role.errorCreateMessage"> 
           <li ng-repeat="(key, val) in messages">{{val}}</li> 
          </ul> 
        </div>
      </div>
      <div class="col-md-12"> 
        <div class="alert alert-danger empCreateErrorMsgTbl" ng-show="role.errorUpdate" id="elMsgEmpEditErrorUpdate{{role.key}}">
          <ul ng-repeat="messages in role.errorUpdateMessage"> 
           <li ng-repeat="(key, val) in messages">{{val}}</li> 
          </ul> 
        </div>
      </div> 
    </div> 
    <div class="accordian-wrap engagement-list" ng-show="!role.toggle">
      <accordion ng-show="role.visible" close-others="true"> 
        <accordion-group id="elEmp{{role.key}}Tab" ng-show="role[state]" heading="state" ng-init="isOpen=(role.defaultTab === state)?true:false" is-open="isOpen" ng-repeat="state in validity track by state">
        <accordion-heading><i class="pull-left common" ng-class="{'arrow-up-blue': (isOpen), 'arrow-down-blue': (!isOpen)}"></i> {{i18n[state+"_label"]}}</accordion-heading> 
          <table id="elEmp{{role.key}}Tbl" class="table table-striped table-hover table-condensed"> 
            <thead> 
              <tr> 
                <th ng-repeat="headerRow in tables[role.key].th" id="{{headerRow.headerKey}}"> {{i18n[sysService.state.data.page.key+"_tblHeader_"+headerRow.headerKey]}} </th> 
              </tr> 
            </thead>
            <tbody> 
              <tr ng-repeat="dataRow in tables[role.key].tr[state]">  
                <td> <span ng-if="!flag.empEdit">{{dataRow['phone-type'].name}}</span> 
                     <span ng-if="flag.empEdit">
                      <a href="#" editable-select="dataRow['phone-type'].uuid" onshow="editEmployeeFunc.contactType()" e-ng-options="data.uuid as data.name for data in editEmployeeFunc.contactTypes" onbeforesave="editEmployeeFunc.updRowBeforeSave(dataRow, 'phone-type', $data)" onaftersave="editEmployeeFunc.updRow(role.key, $index, state)">{{ editEmployeeFunc.contactType(dataRow['phone-type'], role.key)}}</a>
                     </span></td> 
                <td> <span ng-if="!flag.empEdit">{{dataRow['contact-info']}}</span> 
                     <span ng-if="flag.empEdit">
                      <a href="#" class="ng-scope ng-binding editable ng-cloak" editable-text="dataRow['contact-info']" onbeforesave="editEmployeeFunc.updRowBeforeSave(dataRow, 'contact-info', $data)" onaftersave="editEmployeeFunc.updRow(role.key, $index, state)">
                      {{dataRow['contact-info'] || "---"}}</a>
                     </span>
                </td>
                <td> <span ng-if="!flag.empEdit">{{dataRow['properties'].name}}</span> 
                     <span ng-if="flag.empEdit">
                      <a href="#" editable-select="dataRow['properties'].uuid" onshow="editEmployeeFunc.contactProperty()" e-ng-options="data.uuid as data.name for data in editEmployeeFunc.contactProperties" onbeforesave="editEmployeeFunc.updRowBeforeSave(dataRow, 'properties')" onaftersave="editEmployeeFunc.updRow(role.key, $index, state)">{{ editEmployeeFunc.contactProperty(dataRow['properties'], role.key)}}</a>
                     </span></td> 
                <td class="inline-cal"> <span ng-if="!flag.empEdit">{{dataRow['valid-from']}}</span> <span ng-if="flag.empEdit"> <a href="#" editable-bsdate="dataRow['valid-from']" e-datepicker-popup="{{sysService.dateFormat.editFormat}}" onaftersave="editEmployeeFunc.updRow(role.key, $index, state)" ng-click="openInlineDatePicker($event, 'from')" onhide="closeInlineDatePicker()" e-is-open="inlineDatePicker.from" onbeforesave="editEmployeeFunc.updRowBeforeSave(dataRow, 'valid-from', $data)"> {{ editEmployeeFunc.formatDate(dataRow['valid-from']) || '__/__/____' }} </a> </span></td>

                <td class="inline-cal"> <span ng-if="!flag.empEdit">{{dataRow['valid-to']}}</span> <span ng-if="flag.empEdit"> <a href="#" editable-bsdate="dataRow['valid-to']" e-datepicker-popup="{{sysService.dateFormat.editFormat}}" onaftersave="editEmployeeFunc.updRow(role.key, $index, state)" ng-click="openInlineDatePicker($event, 'to')" onhide="closeInlineDatePicker()" e-is-open="inlineDatePicker.to" onbeforesave="editEmployeeFunc.updRowBeforeSave(dataRow, 'valid-to', $data)"> {{ editEmployeeFunc.formatDate(dataRow['valid-to']) || '__/__/____' }} </a> </span></td> 
              </tr> 
            </tbody> 
          </table> 
        </accordion-group>
      </accordion>
  </div>

  <!-- Create --> 
  <div ng-show="flag.empCreate" ng-controller="employeeCreateEngagement"> 
    <div class="row" ng-hide="createEngagement"> 
      <div class="col-md-12 col-sm-12"> 
        <button class="pull-right btn-create" id="elEmpNewBtn_{{role.key}}" ng-click="createEngagement = true; engagementCreate(role.key);"> <i class="common add-form"></i> </button> 
      </div> 
    </div> 
    <fieldset ng-show="createEngagement" class="empCreateBlock"> 
      <div class="alert alert-danger" ng-if="validationErrorMsg.error" id="empCreateErrorMsg"> 
        <ul ng-repeat="messages in validationErrorMsg.response"> 
          <li ng-repeat="(key, val) in messages">{{val}}</li> 
        </ul> 
      </div>
      <form class="form-horizontal" role="form" ng-submit="saveEmployee(role.key, $parent.empUUID, '', this)" name="empCreateForm" novalidate=""> 
        <div class="row"> 
         <div class="col-md-4"> 
          <div class="form-group"> 
           <label for="startDate" class="col-sm-3 control-label input-sm">{{i18n['start_date_label']}}</label> 
           <div class="col-sm-5 input-group inline-cal" ng-class="{'has-error': validationErrorMsg.error &amp;&amp; validationErrorMsg.response['valid-from']}"> 
            <input type="text" class="form-control input-sm" datepicker-popup="{{sysService.dateFormat.format}}" ng-model="empObj.valid_from" name="valid-from" max-date="empObj.valid_to" show-weeks="false" is-open="datePickers.from" readlonly="readonly" required> 
            <span class="input-group-btn"> <button type="button" class="btn btn-default btn-sm cal" ng-click="openDatePicker($event, 'from')"><i class="glyphicon glyphicon-calendar"></i></button> </span> 
           </div> 
          </div> 
         </div> 
         <div class="col-md-4"> 
          <div class="form-group"> 
           <label for="endDate" class="col-sm-3 control-label input-sm">{{i18n['end_date_label']}}</label> 
           <div class="col-sm-5 input-group inline-cal" ng-class="{'has-error': validationErrorMsg.error &amp;&amp; validationErrorMsg.response['valid-to']}"> 
            <input type="text" class="form-control input-sm" datepicker-popup="{{sysService.dateFormat.format}}" ng-model="empObj.valid_to" name="valid-to" min-date="empObj.valid_from" close-text="Close" show-weeks="false" is-open="datePickers.to" readlonly="readonly"> 
            <span class="input-group-btn"> <button type="button" class="btn btn-default btn-sm cal" ng-click="openDatePicker($event, 'to')"><i class="glyphicon glyphicon-calendar"></i></button> </span> 
           </div> 
          </div> 
         </div> 
        </div>
        
        <div class="row"> 
         <div class="col-md-4" ng-class="{'has-error': validationErrorMsg.error &amp;&amp; validationErrorMsg.response['type']}"> 
          <select class="form-control input-sm" name="type" ng-model="empObj.phone_type" ng-options="s.name for s in createEmployeeFunc.contactTypes" required=""><option value="">{{i18n['employee_edit_type']}}</option></select> 
         </div> 

         <div class="col-md-2 pdlt10" ng-class="{'has-error': validationErrorMsg.error &amp;&amp; validationErrorMsg.response['contact-info']}"> 
          <input type="text" class="form-control input-sm" ng-model="empObj.contact_info" name="contact-info" show-weeks="false" required="" placeholder="{{i18n['organisation_tblHeader_contactinfo']}}" /> 
         </div> 
         
          <div class="col-md-3" ng-class="{'has-error': validationErrorMsg.error &amp;&amp; validationErrorMsg.response['properties']}"> 
            <select class="form-control input-sm" name="properties" ng-model="empObj.properties" ng-options="s.name for s in createEmployeeFunc.contactProperties" required=""><option value="">{{i18n['organisationNew_contact_channel_visibility_label']}}</option></select> 
          </div>

          <div class="col-md-3 text-right pdrt0"> 
            <button type="submit" class="btn-create-tick" id="elEmpCreateBtn_it" ng-class="{loading:dataAdding, disabled:dataAdding}" ng-disabled="dataAdding"> <i class="common tick"></i> </button> 
            <button type="button" ng-click="cancelForm()" class="btn-create-tick" id="elEmpCreateBtnc_it" ng-disabled="dataAdding"> <i class="common cross"></i> </button> 
          </div> 
        </div>
      </form> 
    </fieldset> 
  </div> 
  <!-- / Create --> 
</div>

