0 23 * * *  /cron/reload_info_dicts.sh

# This should be removed when MO starts sending AMQP messages for objects that become
# valid/invalid. Casper: start af uge 8
0 3 * * *  /cron/synchronize_todays_events.sh
