<div id="" class="engagementWrapper" ng-show="role.visible || flag.orgEdit"> 
   <div class="row"> 
    <div class="col-md-12 col-sm-12 sec-heading" ng-click="role.toggle = !role.toggle"> 
     <p><i class="common" ng-class="(!role.toggle)?'arrow-up-white':'arrow-down-white'"></i>{{i18n[sysService.state.data.page.key+"_tblMainHeader_"+role.key]}}</p> 
    </div> 
   </div> 

  <div class="row" ng-show="flag.orgEdit"> 
  <div class="col-md-12"> 
    <div class="alert alert-danger orgCreateErrorMsgTbl" ng-show="role.errorCreate" id="elMsgOrgEditErrorCreate{{role.key}}">
      <ul ng-repeat="messages in role.errorCreateMessage"> 
       <li ng-repeat="(key, val) in messages">{{val}}</li> 
      </ul> 
    </div>
  </div>
  <div class="col-md-12"> 
    <div class="alert alert-danger orgCreateErrorMsgTbl" ng-show="role.errorUpdate" id="elMsgOrgEditErrorUpdate{{role.key}}">
      <ul ng-repeat="messages in role.errorUpdateMessage"> 
       <li ng-repeat="(key, val) in messages">{{val}}</li> 
      </ul> 
    </div>
  </div> 
  </div> 

   <div class="accordian-wrap engagement-list" ng-show="!role.toggle"> 
    <accordion ng-show="role.visible" close-others="true"> 
     <accordion-group id="elOrg{{role.key}}Tab" ng-show="role[state]" heading="state" ng-init="isOpen=(role.defaultTab === state)?true:false" is-open="isOpen" ng-repeat="state in validity track by state"> 
      <accordion-heading>
       <i class="pull-left common" ng-class="{'arrow-up-blue': (isOpen), 'arrow-down-blue': (!isOpen)}"></i> {{i18n[state+"_label"]}}
      </accordion-heading> 
      <table id="elOrg{{role.key}}Tbl" class="table table-striped table-hover table-condensed"> 
       <thead> 
        <tr> 
         <th ng-repeat="headerRow in tables[role.key].th" id="{{headerRow.headerKey}}">  {{i18n[sysService.state.data.page.key+"_tblHeader_"+headerRow.headerKey]}} </th> 
        </tr> 
       </thead> 
       <tbody> 
        <tr ng-repeat="dataRow in tables[role.key].tr[state]"> 
         <td><span>{{dataRow['name']}}</span></td> 
         <td><span ng-if="!flag.orgEdit">{{dataRow['type'].name}}</span> <span ng-if="flag.orgEdit"> <a href="#" editable-select="dataRow['type'].uuid" onshow="editOrganisationFunc.orgType()" e-ng-options="data.uuid as data.name for data in editOrganisationFunc.orgTypes" onbeforesave="editOrganisationFunc.updRowBeforeSave(dataRow, 'type')" onaftersave="editOrganisationFunc.updRow(role.key, $index, state)">{{ editOrganisationFunc.orgType(dataRow['type'], role.key)}}</a> </span> </td> 
         <td><span>{{dataRow['parent-object'].name}}</span> </td>
         
         <td class="inline-cal"><span ng-if="!flag.orgEdit">{{dataRow['valid-from']}}</span> <span ng-if="flag.orgEdit"> <a href="#" editable-bsdate="dataRow['valid-from']" e-datepicker-popup="{{sysService.dateFormat.editFormat}}"  onbeforesave="editOrganisationFunc.updRowBeforeSave(dataRow, 'valid-from', $data)" onaftersave="editOrganisationFunc.updRow(role.key, $index, state)" ng-click="openInlineDatePicker($event, 'from')" onhide="closeInlineDatePicker()" e-is-open="inlineDatePicker.from"> {{ editOrganisationFunc.formatDate(dataRow['valid-from']) || '__/__/____' }} </a> </span></td> 
         
         <td class="inline-cal"><span>{{dataRow['valid-to']}}</span></td> 
        </tr> 
       </tbody> 
      </table> 
     </accordion-group> 
    </accordion> 
   </div> 
  </div>