/*
 * SPDX-FileCopyrightText: Magenta ApS <https://magenta.dk>
 * SPDX-License-Identifier: MPL-2.0
 */

/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid #58595b;
  margin-bottom: 80px;
}

/* Avoid breaking parameters name, etc. in table cells. */
td code {
  word-break: normal !important;
}
