<div id="employeeMoveMany" class="modal-popup workflow move">
  <header>
    <div class="container-fluid"> 
      <div class="row head-section">
        <div class="col-md-1 col-sm-2 col-xs-12 logo">
          <img src="./images/knud_small.png"> 
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 title"> 
          <nav>     
            <ul class="nav navbar-nav">
              <li class="sub-text common user-img"></li>                  
              <li class="sub-text selected"><a href="#">FLYT MANAGE ENGAGEMENTER</a></li> 
            </ul>
          </nav>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
        </div>      
        <div class="col-md-2 col-sm-2 col-xs-12">
          <ul class="user-helper pull-right">                
            <li><a href="javascript:;" class="common help" id="elModalHelp"></a></li>
            <li><a href="javascript:;" class="common cross" ng-click="empMoveManyModal('close')" id="elEmpEditCancel"></a></li>
          </ul>     
        </div>  
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="alert alert-danger" ng-show="workFlowMoveManyFlag.invalid" id="elMsgempCPRInvalid"> {{i18n['please_enter_employee_cpr_label']}}</div>
      <div class="alert alert-danger" ng-show="workFlowMoveManyFlag.notFound" id="elMsgempCPRNotFound"> {{i18n['employee_not_found_label']}}</div>
    </div>
  </div>

  <div class="panel panel-default" ng-hide="workFlowMoveManyFlag.step2">
    <div class="modal-body panel-body">                   
      <div class="row pdtp20">
        <div class="col-md-3 col-sm-3 pdlt10">
          <div class="form-group">
            <label for="empMoveDate" class="col-sm-6 control-label input-sm">{{i18n['flytte_dato_label']}}</label>
            <div class="col-sm-6 input-group inline-cal" ng-class="{'has-error': validationErrorMsg.error && validationErrorMsg.response['empMoveDate']}">
              <input type="text" placeholder="DD-MM-YYYY" class="form-control input-sm" datepicker-popup="{{sysService.dateFormat.format}}" ng-model="empMoveDate" name="empMoveDate" close-text="Close" show-weeks="false" is-open="opened" ng-blur="dateSelect('empMoveDate')" ng-focus="dateSelect('empMoveDate')" ui-keydown="{'enter':'dateSelect(\'empMoveDate\')'}" id="empMoveDate" placeholder="{{sysService.dateFormat.placeholder}}"/>
              <span class="input-group-btn"> <button type="button" class="btn btn-default btn-sm" ng-click="open($event, 'opened')"><i class="glyphicon glyphicon-calendar"></i></button> </span>

            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 edit">
          <div class="posRel">
            <input type="text" ng-click="onClickEnhead()" ng-model="valueEnhead" ng-change="onChangeOccured(valueEnhead, 'enhead')" ng-disabled="empStartMoveDate == undefined" class="type-ahead-tree input-sm form-control unit" placeholder="{{i18n['typeaheadtreeplaceholder']}}"/>
            <span class="input-group-btn">    
                <button type="button" class="btn btn-default search" id="orgUnitSearchBtn">      
                 <i ng-hide="enHeadUnits" class="fa fa-search"></i>       
                 <i ng-show="enHeadUnits" class="refresh ng-hide"></i> 
                </button> 
            </span>
            <div  ng-if="isEnhead && !selectedEnhead" class="posAbs">
              <orgtypeaheadtree inputtreetype="enhead" datetype="{{empStartMoveDate}}"></orgtypeaheadtree>
            </div>
          </div>
        </div> 

        <div class="col-md-4 col-sm-4 edit" >
          <div class="posRel">
            <input type="text" ng-click="onClickOverEnhead()" ng-model="valueOverEnhead" ng-change="onChangeOccured(valueOverEnhead, 'overEnhead')" ng-disabled="empStartMoveDate == undefined" class="type-ahead-tree input-sm form-control unit" placeholder="{{i18n['typeaheadtreeplaceholder']}}" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default search"  id="orgUnitSearchBtn">
                <i ng-hide="overEnHeadUnits" class="fa fa-search" ></i>       
                <i ng-show="overEnHeadUnits" class="refresh ng-hide"></i> 
              </button>
            </span>
            <div ng-if="isOverEnhead && !selectedOverEnhead">
              <orgtypeaheadtree inputtreetype="overEnhead" datetype="{{empStartMoveDate}}"></orgtypeaheadtree>
            </div>
          </div>
        </div>

        <div class="row pdbt25" ng-show="workFlowMoveManyFlag.orgUnitFromFound">
          <div class="col-md-12 col-sm-12 pdlt25">&nbsp;&nbsp;&nbsp;<span class="light-blue">{{i18n['employeeMoveMany_valgt_enhed_label']}}:</span> <b>{{original_org_unit.name}}</b></div>
        </div>
      </div>
    </div>
  </div>  

  <!-- Display transfer table -->
  <div class="row" ng-show="workFlowMoveManyFlag.orgUnitFromResultFound">
    <div class="col-md-6 col-sm-6 pdtp15">
      <table id="elViewOriginalOrgUnitEngagements" class="table table-striped table-hover table-condensed table-first" >
        <thead>
          <tr>
            <th><input type="checkbox" ng-model="selectAll" ng-change="onChangeSelectAll(selectAll)"></th>
            <th>{{i18n['name_label']}}</th>
            <th>{{i18n['job_title_label']}}</th>
            <th>{{i18n['engagement_engagement_type_label']}}</th>
            <th>{{i18n['start_date_label']}}</th>
            <th>{{i18n['stop_dato_label']}}</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="dataRow in originalOrgUnitEngagements">
            <td><input type="checkbox" ng-model="dataRow['selected']" ng-change="dataRow['selected']"></td>
            <td>{{dataRow['person-name']}}</td>
            <td>{{dataRow['job-title'].name}}</td>
            <td>{{dataRow['type'].name}}</td>
            <td>{{dataRow['valid-from']}}</td>
            <td>{{dataRow['valid-to']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-1 col-sm-1 move-container brdr">
      <a class="common move" href ng-click="empMoveEngagements()"></a>
    </div>
    <div class="col-md-5 col-sm-5 pdtp15">
      <table id="elViewTransferOrgUnitEngagements" class="table table-striped table-hover table-condensed table-two" >
        <thead>
          <tr>
            <th>{{i18n['name_label']}}</th>
            <th>{{i18n['job_title_label']}}</th>
            <th>{{i18n['engagement_engagement_type_label']}}</th>
            <th>{{i18n['start_date_label']}}</th>
            <th>{{i18n['stop_dato_label']}}</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="dataRow in transferOrgUnitEngagements">
            <td>{{dataRow['person-name']}}</td>
            <td>{{dataRow['job-title'].name}}</td>
            <td>{{dataRow['type'].name}}</td>
            <td>{{dataRow['valid-from']}}</td>
            <td>{{dataRow['valid-to']}}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <br>
      <div class="alert alert-danger" ng-show="workFlowMoveManyFlag.employeesNotFound" id="elMsgEmpNoEmpFound">
      {{i18n['no_roles_found_label']}}
      </div> 
    </div>
  </div>
  <!-- display roles sections -->
  <div class="panel panel-default" ng-show="workFlowMoveManyFlag.step2">
    <div class="modal-body panel-body">                   
      <div class="modal-content-wrap">

        <div class="row content pdtp20">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span>Du er nu ved at flytte denne medarbejder fra følgende enhed:</span> <b>{{original_org_unit.name}}</b>       
          </div>    
          <div class="col-md-3 col-sm-3 col-xs-12 pdltrt0">
            <span>til følgende enhed:</span> <b>{{org_unit.name}}</b>            
          </div>            
          <div class="col-md-3 col-sm-3 col-xs-12 text-right">
            <span>Du er igang med at flytte</span> <b>{{currentEmpCounter}}</b> <span>ud af:</span> <b>{{transferOrgUnitEngagements.length}}</b>             
          </div>
        </div>
        <div class="row content  pdtp20 pdbt25">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <span class="light-blue">Navn:</span> <span class="black_10">{{empName}}</span>            
          </div>    
        </div>
        <div ng-show="workFlowMoveManyFlag.details && !workFlowMoveManyFlag.rolesFound">
          <div ng-repeat="(key, role) in engagements  | toArray | orderBy:'$index'"> 
           <ng-include src="'partials/employee/move/'+role.key+'.html'" ng-init="checked = true" /> 
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-danger" ng-show="workFlowMoveManyFlag.rolesFound" id="elMsgEmpNoEngagementFound">
            {{i18n['no_roles_found_label']}}
            </div> 
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Action buttons -->
  <div class="row action">
    <div class="col-md-11">
      <div class="alert alert-danger" ng-show="workFlowMoveManyFlag.fail" id="elMsgempCPRInvalid">{{i18n['error_occured_in_moving_employee_label']}}</div>
    </div>
    <div class="col-md-1 text-right">
      <button ng-hide="workFlowMoveManyFlag.step2" ng-disabled="!org_unit || (transferOrgUnitEngagements.length < 1)" class="btn btn-sm btn-default" id="elEmpMoveStep2" ng-click="empMoveManyNextStep()"><i class="common tick"></i></button>
      <button  ng-disabled="(engagements['engagement'].data['present'].length < 1 && engagements['engagement'].data['future'].length < 1)" ng-show="workFlowMoveManyFlag.step2" class="btn btn-sm btn-default" id="elEmpMoveOk" ng-click="empMoveConfirm()"><i class="common tick"></i></button>
      <button id="elEmpMoveCancel" type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-hidden="true" ng-click="empMoveManyModal('close')"><i class="common cross"></i></button>
    </div>
  </div>     
</div>
</div>