<div class="panel panel-default emp-list"> 
   <div class="panel-heading"> 
    <div class="row"> 
     <div class="col-md-12 sec-title"> 
      <i class="common heading-user"></i> 
      <span>{{i18n['employeesList_employee_list_label']}}</span> 
     </div> 
    </div> 
   </div> 
   <div class="panel-body employee-list"> 
    <div class="wrap-content">
      <div class="alert alert-danger" ng-show="!employeesFound && employeesLoaded" id="empMsgNotFound">
       {{i18n['employee_not_found_label']}}
       <!-- <span ng-show="queryString">for {{queryString}}</span> -->
      </div> 
      <div loading-container="employees.settings().$loading" ng-show="employees && employeesFound && employeesLoaded"> 
       <table ng-table="employees" show-filter="false" class="table" id="employeeList"> 
        <tbody> 
         <tr ng-repeat="employee in $data"> 
          <td data-title="i18n['employee_tblHeader_name']"><a href="#/medarbejder/{{employee['user-key']}}" title="{{employee['name']}}">{{employee['name']}}</a></td>
          <td data-title="i18n['cpr_label']">{{employee['user-key']}}</td> 
          <td data-title="i18n['employee_shortname']">{{employee['nick-name']}}</td> 
          <td class="action-row"> <button id="elEmpViewBtn" class="btn btn-primary btn-md" data-toggle="modal" data-target="#selectedEmployeePopupModal" ng-click="$parent.empView('open', employee['user-key'])"> <i class="common view"></i> </button> <button acl="e|write" id="elEmpEditBtn" class="btn btn-primary btn-md" data-toggle="modal" data-target="#selectedEmployeePopupModal" ng-click="$parent.empEdit('open', employee['user-key'])"> <i class="common edit"></i> </button> </td> 
         </tr> 
        </tbody> 
       </table> 
      </div> 
    </div>
   </div> 
  </div>