<div class="employee workflow in modal-popup"> 
   <header> 
    <div class="container-fluid"> 
     <div class="row head-section"> 
      <div class="col-md-1 col-sm-2 col-xs-12 logo"> 
       <img src="./images/knud_small.png"> 
      </div> 
      <div class="col-md-4 col-sm-4 col-xs-12 title"> 
       <nav> 
        <ul class="nav navbar-nav"> 
         <li class="sub-text common org"></li> 
         <li class="sub-text selected"><a href="#">{{i18n['organisationAssociation_sammenknyt_to_enheder_label']}}</a></li> 
        </ul> 
       </nav> 
      </div> 
      <div class="col-md-4 col-sm-3 col-xs-12"> 
       <div class="search-bar"> 
        <form name="headSearch" class="navbar-form" role="search" action="" method="GET"> 
         <div class="input-group"> 
          <div class="input-group-btn"> 
           <button data-toggle="dropdown" class="btn btn-default search" type="button"><i class="fa fa-search"></i></button> 
           <input type="text" class="form-control" placeholder="Sog enhed"> 
          </div>  
         </div>
        </form> 
       </div> 
      </div> 
      <div class="col-md-3 col-sm-3 col-xs-12"> 
       <ul class="user-helper pull-left"> 
        <li><a class="common help" id="sys-help" href="javascript:;"></a></li> 
       </ul> 
      </div> 
     </div> 
    </div> 
   </header> 
   <div class="container-fluid"> 
    <div class="row ny-enhed sammen"> 
     <div class="col-md-12 col-sm-12"> 
      <div class="panel panel-default"> 
       <div class="panel-body"> 
        <div class="row mrgnltrt0"> 
         <div class="col-md-12 col-sm-12 sec-heading mrgntop0"> 
          <p>{{i18n['enheder_label']}}</p> 
         </div> 
        </div> 
        <div class="row"> 
         <div class="col-md-12 col-sm-12"> 
          <fieldset class="workflow-form"> 
           <form class="form-horizontal"> 
            <div class="row"> 
             <div class="col-md-4 col-sm-4"> 
              <div> 
               <label>{{i18n['start-dato_label']}}</label> 
               <input type="text"> 
               <button class="btn btn-default btn-sm"> <i class="common calender"></i> </button> 
              </div> 
             </div> 
             <div class="col-md-4 col-sm-4"> 
              <div> 
               <label>{{i18n['stop-dato_label']}}</label> 
               <input type="text"> 
               <button class="btn btn-default btn-sm"> <i class="common calender"></i> </button> 
              </div> 
             </div> 
             <div class="col-md-4 col-sm-4"></div> 
            </div> 
            <div class="row pdtp20 org"> 
             <div class="col-md-4 col-sm-4 first"> 
              <label>{{i18n['organisationAssociation_organisation_label']}}</label> 
              <select> <option>{{i18n['vælg_organisation_label']}}</option> <option>{{i18n['vælg_enhed_label']}}</option> <option>{{i18n['stilling_label']}}</option> </select> 
             </div> 
             <div class="col-md-4 col-sm-4"> 
              <label>{{i18n['organisationAssociation_sammenknyttes_med_label']}}</label> 
              <select> <option>{{i18n['vælg_organisation_label']}}</option> <option>{{i18n['vælg_enhed_label']}}</option> <option>{{i18n['stilling_label']}}</option> </select> 
             </div> 
             <div class="col-md-4 col-sm-4"></div> 
            </div> 
            <div class="row pdtp20 unit"> 
             <div class="col-md-4 col-sm-4"> 
              <label>{{i18n['enhed_label']}}</label> 
              <input type="text" class="search-in"> 
              <button class="btn btn-default search"><i class="fa fa-search"></i></button> 
             </div> 
             <div class="col-md-4 col-sm-4"> 
              <label>{{i18n['enhed_label']}}</label> 
              <input type="text" class="search-in"> 
              <div class=" input-group orgTreeInputSelector"> 
               <span class="input-group-btn"> <button class="btn btn-default search"><i class="fa fa-search"></i></button> </span> 
              </div> 
             </div> 
             <div class="col-md-4 col-sm-4"></div> 
            </div> 
           </form> 
          </fieldset> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="row action"> 
    <div class="col-md-11"></div> 
    <div class="col-md-1 text-right"> 
     <button><i class="common tick"></i></button> 
     <button ng-click="orgEndModal('close')"><i class="common cross"></i></button> 
    </div> 
   </div> 
  </div>