<div id="organisationViewEdit" class="modal-popup workflow edit"> 
   <header> 
    <div class="container-fluid"> 
     <div class="row head-section"> 
      <div class="col-md-1 col-sm-2 col-xs-12 logo"> 
       <img src="./images/os2_small.png"> 
      </div> 
      <div class="col-md-4 col-sm-4 col-xs-12 title"> 
       <nav> 
        <ul class="nav navbar-nav"> 
         <li class="sub-text common org"></li> 
         <li class="sub-text selected"><a href="javascript:;" id="myModalLabel"> <span ng-if="!flag.orgEdit">{{i18n['organisationViewEdit_view_organisation_label']}}</span> <span ng-if="flag.orgEdit">{{i18n['organisationViewEdit_rediger_organisation_label']}}</span> </a></li> 
        </ul> 
       </nav> 
      </div> 
      <div class="col-md-5 col-sm-5 col-xs-12 org-name"> 
       <div class="org-name"> 
        <span class="txt-green">{{i18n['navn_label']}}</span> 
        <span id="elOrgViewNameInput" ng-bind="organisation.activeName"></span> 
       </div> 
      </div> 
      <div class="col-md-2 col-sm-2 col-xs-12"> 
       <ul class="user-helper"> 
        <li><a href="javascript:;" id="elOrgModalBook" class="common book" ng-click="historyLog('open', 'o/'+organisation.org+'/org-unit/'+organisation.uuid+'/history/', 'History for '+organisation.activeName+', '+organisation['user-key'])"></a></li> 
        <li><a href="javascript:;" id="elModalHelp" class="common help"></a></li> 
        <li><a href="javascript:;" id="elOrgEditCancel" class="common cross" ng-click="orgView('close')"></a></li> 
       </ul> 
      </div> 
     </div> 
    </div> 
   </header> 
   <div class="panel panel-default"> 
    <div class="modal-body panel-body"> 
     <div class="modal-content-wrap"> 
      <div class="row pdtp10" ng-show="!flag.orgEngagementsFound"> 
       <div class="col-md-12 spinner spinner-mrgn"> 
       </div> 
      </div> 
      <div ng-repeat="(key, role) in engagements  | toArray | orderBy:'$index'"> 
       <ng-include src="'partials/organisation/view/'+role.key+'.html?t='+role.timeStamp+''" /> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="row action"> 
    <div class="col-md-12 text-right"> 
     <!-- Buttons set for edit org --> 
     <div ng-if="flag.orgEdit"> 
      <button class="btn btn-sm btn-default" ng-class="{'btn-success':(flag.dataUpdated)}" ng-disabled="!flag.dataUpdated" id="elOrgEditOk" ng-click="editOrganisationFunc.saveRows()"><i class="common tick"></i></button> 
      <button id="elOrgEditCancel" type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-hidden="true" ng-click="orgEdit('close')"><i class="common cross"></i></button> 
     </div> 
     <!-- Buttons set for view org --> 
     <div ng-if="!flag.orgEdit"> 
      <button id="elOrgViewCancel" type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-hidden="true" ng-click="orgView('close')"> <i class="common cross"></i> </button> 
     </div> 
    </div> 
   </div> 
  </div>
