<div class="employee workflow  modal-popup edit move" ng-mousedown="onMouseDown()">
    <header>
        <div class="container-fluid">
            <div class="row head-section">
                <div class="col-md-1 col-sm-2 col-xs-12 logo">
                    <img src="./images/knud_small.png">
                </div>
                <div class="col-md-8 col-sm-4 col-xs-12 title">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="sub-text common org"></li>
                            <li class="sub-text selected"><a href="#">FLYT ENHED</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <ul class="user-helper">
                        <li>
                            <a class="common help" id="sys-help" href="javascript:;"></a>
                        </li>
                         <li><a class="common cross" id="elOrgEditCancel" href="javascript:;" ng-click="orgMoveModal('close')"></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </header>


    <div class="container-fluid">
        <div class="row ny-enhed">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 sec-heading">
                                <p>Enheder</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <fieldset class="workflow-form">
                                    <form class="form-horizontal">
                                        <div class="row date">
                                            <div class="col-md-9 col-sm-9">
                                                <div class="inline-cal">
                                                    <label class="col-sm-6 control-label input-sm text-right">{{i18n['organisationMove_move-dato_label']}}:</label>   
                                                    <input type="text" class="col-sm-6 form-control input-sm" 
                                                    datepicker-popup="{{sysService.dateFormat.format}}" ng-model="orgStartMoveDate" name="orgStartMoveDate" close-text="Close" show-weeks="false" is-open="opened" ng-blur="dateSelect('orgStartMoveDate')" ng-focus="dateSelect('orgStartMoveDate')" ui-keydown="{'enter':'dateSelect(\'orgStartMoveDate\')'}" id="orgStartMoveDate" placeholder="{{sysService.dateFormat.placeholder}}" tabindex="1"/>
                                                    <span class="input-group-btn"> <button type="button" class="btn btn-default btn-sm cal" ng-click="open($event, 'opened')"><i class="glyphicon glyphicon-calendar"></i></button> </span>
                                                </div>
                                            </div>                                                                                      
                                        </div>
                                        <div class="row pdtp20 org">
                                            <div class="col-md-6 col-sm-6 first">
                                                <label class="col-sm-6 control-label input-sm text-right">{{i18n['organisationMove_fremsog_enhed_label']}}:</label>

                                                <!-- <button type="button" class="btn btn-default search">      <i ng-hide="loadingOrgUnits" class="fa fa-search"></i>     <i ng-show="loadingOrgUnits" class="refresh ng-hide"></i>  </button> </span> -->
                                                <div class="posRel">
                                                    <input type="text" ng-click="onClickEnhead()" ng-model="valueEnhead" ng-change="onChangeOccured(valueEnhead, 'enhead')" ng-disabled="orgStartMoveDate == undefined" class="type-ahead-tree input-sm form-control unit" placeholder="{{i18n['typeaheadtreeplaceholder']}}" />
                                                    <span class="input-group-btn">    
                                                        <button type="button" class="btn btn-default search" id="orgUnitSearchBtn" />      
                                                         <i ng-hide="enHeadUnits" class="fa fa-search"></i>       
                                                         <i ng-show="enHeadUnits" class="refresh ng-hide"></i> 
                                                        </button> 
                                                    </span>
                                                    <div  ng-if="isEnhead && !selectedEnhead" class="posAbs">
                                                        <orgtypeaheadtree inputtreetype="enhead" datetype="{{orgStartMoveDate}}"></orgtypeaheadtree>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6" ng-hide="orgSelectedNameHide">
                                                <label class="control-label input-sm pull-left pdtp0">{{i18n['organisationMove_nuvarende_overenhed_label']}}:</label>
                                                <input type="text" ng-model="orgSelectedName" class="form-control input-sm sm pull-left" tabindex="3"/>
                                            </div>                                            
                                        </div>
                                        <div class="row pdtp20 unit">
                                            <div class="col-md-10 col-sm-6">
                                                <label  class="col-sm-6 control-label input-sm text-right">{{i18n['organisationMove_angiv_ny_overenhed_label']}}:</label>
                                                <div class="posRel">
                                                    <input type="text" id="orgOverEnhead" ng-click="onClickOverEnhead()" ng-model="valueOverEnhead" ng-change="onChangeOccured(valueOverEnhead, 'overEnhead')" ng-disabled="orgStartMoveDate == undefined" class="type-ahead-tree input-sm form-control unit"  placeholder="{{i18n['typeaheadtreeplaceholder']}}" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default search"  id="orgUnitSearchBtn">
                                                               <i ng-hide="overEnHeadUnits" class="fa fa-search" ></i>       
                                                               <i ng-show="overEnHeadUnits" class="refresh ng-hide"></i> 
                                                        </button>
                                                    </span>
                                                    <div ng-if="isOverEnhead && !selectedOverEnhead">
                                                        <orgtypeaheadtree inputtreetype="overEnhead" datetype="{{orgStartMoveDate}}"></orgtypeaheadtree>
                                                    </div>
                                                </div>
                                                    
                                                </div>

                                                
                                            </div>                                           
                                            <div class="col-md-3 col-sm-3"></div>
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row action">
            <div class="col-md-11">
                <div class="alert alert-danger" ng-show="orgWorkFlowMoveFlag.fail" id="elMsgFail">
                  <ul> 
                    <li ng-repeat="messages in orgWorkFlowMoveFlag.failMessage">
                        <div ng-repeat="(key, val) in messages">{{val}}</div>
                    </li>
                  </ul> 
                </div>
            </div>
            <div class="col-md-1 text-right">
                <button id="orgMoveOk"  ng-class="{'btn-success':!(isApplyBtnDisabled())}" ng-click="orgMoveConfirm()" class= "btn btn-sm btn-default" ng-disabled="isApplyBtnDisabled()"><i class="common tick" tabindex="5"></i>
                </button>
                <button ng-click="orgMoveModal('close')" class="btn btn-sm btn-default" tabindex="6"><i class="common cross"></i>
                </button>
            </div>
        </div>

    </div>
</div>