   <div class="center-row" ng-controller="moOrganisationMaster"> 
    <div class="col-md-3 col-sm-3 left-section" id="moOrgTree"> 
      <div ui-view="orgTree" class="moOrgTree"></div>
    </div> 
    <div class="col-md-9 col-sm-9 main-content"> 
      <div ui-view="main" class="main"></div> 
      <div ui-view="notification" class="notification"></div> 
      <div class="toolbar" acl="o|write"> 
        <p><button id="elOrgNewBtn" class="plus" data-toggle="modal" data-target="#newOrgUnitPopupModal" ng-disabled="!sysService.enableToolbar" ng-class="{disabled: !sysService.enableToolbar}" ng-click="orgNewModal('open')">{{i18n['ny_enhed_label']}}</button></p> 
        <p><button id="elOrgRenameBtn" class="file" data-toggle="modal" data-target="#renameOrgUnitPopupModal" ng-disabled="!sysService.enableToolbar" ng-class="{disabled: !sysService.enableToolbar}" ng-click="orgRenameModal('open')">{{i18n['omdob_enhed_label']}}</button></p> 
        <p><button id="elOrgMoveBtn" class="move" data-toggle="modal" data-target="#moveOrgUnitPopupModal" ng-disabled="!sysService.enableToolbar" ng-class="{disabled: !sysService.enableToolbar}" ng-click="orgMoveModal('open')">{{i18n['flyt_enhed_label']}}</button></p> 
        <p><button id="elOrgEndBtn" class="end" data-toggle="modal" data-target="#endOrgUnitPopupModal" ng-disabled="!sysService.enableToolbar" ng-class="{disabled: !sysService.enableToolbar}" ng-click="orgEndModal('open')">{{i18n['afslut_enhed_label']}}</button></p> 
        <!-- <p><button id="elOrgMoveManyBtn" class="plus-medam redBg" data-toggle="modal" data-target="#moveManyEmployeePopupModal" ng-click="empMoveManyModal('open')">Opret MED/AM udvalg</button></p> 
        <p><button id="elOrgMoveManyBtn" class="end-medam redBg" data-toggle="modal" data-target="#moveManyEmployeePopupModal" ng-click="empMoveManyModal('open')">Afslut MED/AM udvalg</button></p> 
        <p><button id="elOrgEndBtn" class="sam-enhed" data-toggle="modal" data-target="#endEmployeePopupModal" ng-click="orgAssocModal('open')">Sammenknyt enheder</button></p> --> 
      </div> 
    </div> 
  </div> 
  </div> 