<div class="panel panel-default emp-list"> 
   <div class="panel-heading"> 
    <div class="row"> 
     <div class="col-md-12 sec-title"> 
      <i class="common heading-user"></i> 
      <span>{{i18n['organisationsList_organisation_list_label']}}</span> 
     </div> 
    </div> 
   </div> 
   <div class="panel-body organisation-list"> 
    <div class="wrap-content">
    <div class="alert alert-danger" ng-show="!organisationsFound &amp;&amp; organisationsLoaded" id="orgMsgNotFound">
    <!-- div class="alert alert-danger" ng-show="true" id="orgMsgNotFound"-->
     {{i18n['no_results_found_label']}}
     <span ng-show="queryString">for {{queryString}}</span> 
    </div> 
    <div class="alert alert-info" ng-show="!organisationsLoaded" id="orgMsgNotLoaded">
      {{i18n['organisations_not_loaded']}}
    </div> 
    <div class="org-list" loading-container="organisations.settings().$loading" ng-show="organisations &amp;&amp; organisationsFound &amp;&amp; organisationsLoaded"> 
	<div>{{$data}}</div>
     <table ng-table="organisations" show-filter="false" class="table" id="organisationList"> 
      <tbody> 
       <tr ng-repeat="organisation in $data"> 
        <td data-title="i18n['name_label']"> 
         <div style="position: relative; display: block">
          <a href="#/organisation/{{organisation['uuid']}}" tooltip-tree="{{organisation}}">{{organisation['name']}}</a> 
         </div> </td> 
         <td data-title="i18n['org_valid_from']">{{organisation["valid-from"]}}</td> 
        <td data-title="i18n['org_valid_to']">{{organisation["valid-to"]}}</td> 
        <td class="action-row"> <button id="elOrgViewBtn" class="btn btn-primary btn-md" data-toggle="modal" data-target="#selectedorganisationPopupModal" ng-click="orgView('open', organisation['uuid'], organisation['valid-from'])"> <i class="common view"></i> </button> <button acl="o|write" id="elOrgEditBtn" class="btn btn-primary btn-md" data-toggle="modal" data-target="#selectedorganisationPopupModal" ng-click="orgEdit('open', organisation['uuid'], organisation['valid-from'])"> <i class="common edit"></i> </button> </td> 
       </tr> 
      </tbody> 
     </table> 
    </div> 
   </div> 
   </div> 
  </div>