<header ng-controller="moHeader as head" id="header"> 
   <div class="container"> 
    <div class="row head-section"> 
     <div class="col-md-2 col-sm-4 col-xs-12 logo"> 
       <img src="images/os2_small.svg"> 
     </div> 
     <div class="col-md-8 col-sm-6 col-xs-12 heading"> 
      <span>{{i18n['header-login_velkommen_til_mo_label']}}</span> 
      <span class="sub-text"><!-- {{i18n['header_nav_emp_label']}}|{{i18n['header_nav_org_label']}}  -->
{{i18n['header-login_medarbejder|organisation_label']}}
      </span> 
     </div> 
     <div class="col-md-2 col-sm-4 col-xs-12 user"> 
     </div> 
    </div> 
   </div> 
  </header>
