<header> 
   <div class="container-fluid"> 
    <div class="row head-section"> 
     <div class="col-md-1 col-sm-2 col-xs-12 logo"> 
      <img src="./images/os2_small.png"> 
     </div> 
     <div class="col-md-3 col-sm-3 col-xs-12 title"> 
      <nav> 
       <ul class="nav navbar-nav"> 
        <li class="sub-text common org"></li> 
        <li class="sub-text selected"><a href="#">Hjælp</a></li> 
       </ul> 
      </nav> 
     </div> 
     <div class="col-md-6 col-sm-6 col-xs-12"> 
     </div> 
     <div class="col-md-2 col-sm-2 col-xs-12"> 
     </div> 
    </div> 
   </div> 
  </header>
