<div class="panel panel-default"> 
  <div class="panel-heading"> 
    <div class="row"> 
      <div class="col-md-12"> 
        <i class="common heading-folder"></i> 
        <span>{{i18n['overview/overblik_label']}}</span> 
      </div> 
    </div> 
  </div> 
  <div class="panel-body"> 
    <div class="moOrgTree structure"> 
      <tabset> 
        <tab heading="{{org.name}}" ng-repeat="org in organizations"> 
          <orgtypeaheadtree inputtreetype="" datetype="" treeorigin="mainlist" orgid= "{{org.uuid}}"></orgtypeaheadtree>
        </tab> 
      </tabset> 
    </div> 
  </div> 
</div> 