# SPDX-FileCopyrightText: Magenta ApS <https://magenta.dk>
# SPDX-License-Identifier: MPL-2.0
server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    # proxy_passes MUST use variables to force DNS lookup on every request
    # to allow the proxy to start before all services are initialised.
    resolver 127.0.0.11 valid=5s;  # 127.0.0.11 is the docker DNS server

    # Strip /lora so docs work
    location ~* ^/lora/(.*) {
        set $mo mo;
        proxy_pass http://$mo/lora$request_uri;
    }

    location ~* ^/(.*) {
        set $mo mo;
        proxy_pass http://$mo/lora$request_uri;
    }
}
