# SPDX-FileCopyrightText: 2019-2020 Magenta ApS
# SPDX-License-Identifier: MPL-2.0
server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    # proxy_passes MUST use variables to force DNS lookup on every request
    # to allow the proxy to start before all services are initialised.
    resolver 127.0.0.11 valid=5s;  # 127.0.0.11 is the docker DNS server

    # MO Paths
    # This list should correspond with:
    # * https://git.magenta.dk/rammearkitektur/os2mo-helm-chart/-/blob/master/os2mo/templates/mo/ingress.yaml#L29
    # * All the salt pillar ones
    location /openapi.json {
        set $mo mo;
        proxy_pass http://$mo;
    }

    location /graphql {
        set $mo mo;
        proxy_pass http://$mo;
    }

    location /metrics {
        set $mo mo;
        proxy_pass http://$mo;
    }

    location /docs {
        set $mo mo;
        proxy_pass http://$mo;
    }

    location /service/ {
        set $mo mo;
        proxy_pass http://$mo;
    }

    location /version/ {
        set $mo mo;
        proxy_pass http://$mo;
    }

    location /testing/ {
        set $mo mo;
        proxy_pass http://$mo;
    }

    location /lora/ {
        set $mo mo;
        proxy_pass http://$mo;
    }

    location /health/ {
        set $mo mo;
        proxy_pass http://$mo;
    }

    # Keycloak
    location /auth/ {
        set $keycloak keycloak;
        proxy_pass http://$keycloak:8080;
    }

    # Frontend
    # (everything unmatched)
    location / {
        set $frontend frontend;
        proxy_pass http://$frontend;
    }
}
