# SPDX-FileCopyrightText: Magenta ApS <https://magenta.dk>
# SPDX-License-Identifier: MPL-2.0
server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    proxy_buffers 8 16k;
    proxy_buffer_size 32k;
    # proxy_passes MUST use variables to force DNS lookup on every request
    # to allow the proxy to start before all services are initialised.
    resolver 127.0.0.11 valid=5s;  # 127.0.0.11 is the docker DNS server

    # MO Paths
    # This list should correspond with:
    # * https://git.magenta.dk/rammearkitektur/os2mo-helm-chart/-/blob/master/os2mo/templates/mo/ingress.yaml#L29
    # * All the salt pillar ones
    location /openapi.json {
        set $mo mo;
        proxy_pass http://$mo:5000;
    }

    location /graphql {
        set $mo mo;
        proxy_pass http://$mo:5000;
    }

    location /metrics {
        set $mo mo;
        proxy_pass http://$mo:5000;
    }

    location /docs {
        set $mo mo;
        proxy_pass http://$mo:5000;
    }

    location /service/ {
        set $mo mo;
        proxy_pass http://$mo:5000;
    }

    location /version/ {
        set $mo mo;
        proxy_pass http://$mo:5000;
    }

    location /testing/ {
        set $mo mo;
        proxy_pass http://$mo:5000;
    }

    location /lora/ {
        set $mo mo;
        proxy_pass http://$mo:5000;
    }

    location /health/ {
        set $mo mo;
        proxy_pass http://$mo:5000;
    }

    # Keycloak
    location /auth/ {
        set $keycloak keycloak;
        proxy_pass http://$keycloak:8080;
    }

    # Old frontend
    location /old/ {
        set $frontend_static frontend_static;
        proxy_pass http://$frontend_static;
    }

    # New frontend
    # (everything unmatched)
    location / {
        set $frontend_new_static frontend_new_static;
        proxy_pass http://$frontend_new_static:3000;
    }
}
