// SPDX-FileCopyrightText: 2019-2020 Magenta ApS
// SPDX-License-Identifier: MPL-2.0

'use strict'

// For more options see: https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog-core
module.exports = {
  // All versions before 12.12.0 are in the old changelog
  gitRawCommitsOpts: {
    from: "12.11.1"
  }
}
