{# Jinja template used for generating our changelog #}

{% for entry in tree %}

## {{ entry.version }}{% if entry.date %} ({{ entry.date }}){% endif %}

{% for change_key, changes in entry.changes.items() %}

{% if change_key %}
### {{ change_key }}
{% endif %}

{% for change in changes %}
-
{%- if change.breaking or (change.body and "BREAKING CHANGE" in change.body) %}
 :warning:
{%- endif -%}
{%- if change.scope %}
 **{{ change.scope }}**:
{%- endif -%}
{%- if change.ticket %}
 [#{{ change.ticket }}]
{%- endif -%}
{%- if change.message %}
 {{ change.message }}
{%- endif -%}
{% if change.body %}


> {{ change.body|replace("\n","\n> ") }}
{% endif %}

{% endfor %} {# for change (commit) #}
{% endfor %} {# for change_key (feat/fix/...) #}
{% endfor %} {# for entry (version) #}
