/* SPDX-FileCopyrightText: 2017-2020 Magenta ApS
   SPDX-License-Identifier: MPL-2.0 */

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f2efed;
  background-image: url("../logo/os2_logo_white.svg");
  background-position: right 1em bottom 1em; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
  background-attachment: fixed; /*Make background image sticky*/
  background-size: 320px;
  overflow-x: hidden; /*Keeps workflow buttons from overflowing the page*/
}

nav {
  height: 50px;
}

nav button.dropdown-toggle {
  margin-top: -3px;
  color: #e5e0de;
}

.logo {
  background-image: url("../logo/os2_small.svg");
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
  background-position: center;
  background-color: #002f5d;
  background-size: 60px;
  width: 60px;
  height: 50px;
  margin-left: -1em;
}

.custom_logo_gir {
  background-image: url("../logo/OS_GIR.png");
  background-color: #ffffff;
}

.container-top-margin {
  margin-top: 60px;
}

table {
  margin-top: 1rem;
}

table th {
  border-top: 0 !important;
}

.v-autocomplete .v-autocomplete-input-group .v-autocomplete-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0 0.25rem 0.25rem 0;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.v-autocomplete .v-autocomplete-list {
  z-index: 999;
  background-color: #fff;
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0 0 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-row.name label,
.form-row.nickname label {
  width: 100%;
  padding: 0.5rem 0 0 5px;
}

/* Override some of the styles provided by @trevoreyre/autocomplete-vue */
.autocomplete-input {
  border-radius: 0.25rem !important;
  border: unset !important;
  width: unset !important;
  font-size: unset !important;
  line-height: unset !important;
}

/* Allow dropdowns to be as wide as their content */
.mo-input-group {
  width: auto !important;
}

/* Tweak offset of checkboxes in create/edit dialogs */
.col.checkbox {
  margin-left: 1.25rem;
  margin-bottom: 1.33rem !important;
}

.form-row {
  align-items: flex-end;
}
